.story-msg {
    padding: 10px;
    margin: 10px;
    border: 1px solid black;
    border-radius: 20px;
    text-align: center;
}

button {
    width: 50%;
    padding: 1%;
}

.colored-bg {
    background-color: pink;
}

.uncolored-bg {
    background-color: white;
}